<h1>About us</h1>
<h3>Hi <%= @name %></h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, repudiandae est nobis minus voluptatem numquam corrupti aspernatur similique, optio accusamus sequi hic dignissimos impedit! Reprehenderit nemo rerum ipsum voluptatibus dolorum.</p>